.box{
    background-color : white;
    width: 100%;
  }
  .images{
    width: 90%;
    height: 0%;
  }
  .breakfast{
    width: 45%;
    height: 45%;
    
  }
  .meal{
    width: 45%;
    height: 45%;
    
  }
  .guest{
    width: 45%;
    height: 45%;
  }
  body {
    background-color : #F49A1A;
  }
  .box1{
    background-color : white;
    width: 91vw;
    height: 93vh;
  }