.navbar {
    width: 100%;
    margin-top: 5%;
    background-color: black;
}
.houseMenu {
    width: 7%;
    margin-left: 85%;
}
.bill {
    background-color: #FFFE9A;
    width: 100%;
    height: 100%;
    margin-right: 20%;
}
#item {
    float: left;
}
#total {
    float: initial;
}