.textTable {
  font-size: 30px;
  font-weight: bold;
  margin-left: 70%;
}
.select {
  font-size: 30px;
}
.counter-input .form-control {
  width: 6%;
  font-size: 40px;
  float: right;
  font-weight: bold;
}
.counter-input .input-group-addon {
  float: right;
  width: 6%;
  height: 8%;
  font-size: 20px;
}
.menuTitle {
  font-weight: bold;
  font-size: 50px;
  
}
.itemText{
  float: left;
  font-size: calc(60% + 1vw + 1vh);
  margin-left: 5%;
    font-weight: bold;
}
.descriptionText{
  float: left;
  font-size: calc(10% + 1vw + 1vh);
  margin-left: 5%;
  margin-top: -3%;
  width: 75%;
}
.priceText{
  float: right;
  font-size: calc(15% + 1vw + 1vh);
   margin-right:20%;
  font-weight: bold;
}