.house {
    width: 7%;
    display: block;
    margin: auto;
}
.navbarCheck {
    width: 100%;
    background-color: black;
    margin-top: 40%;
}
.back {
    width: 6%;
    float: left;
    display: block;
    margin-top: -7%;
}