body {
    background-color : #F49A1A;
  }
.box1{
    background-color : white;
    width: 91vw;
    height: 93vh;
}
.images{
    width: 90%;
    height: 0%;
}
.numbertable {
    margin-left: 10%;
}
#paragraph {
    font-size: 25px;
}
#waiterUser {
    float: right;
    font-size: 28px;
    margin-top: -7%;
    margin-right: 20%;
}
#edit {
    color: #4674B9;
    font-size: 30px;
}
Table {
    width: 100%;
}