.navbar {
    width: 100%;
    margin-top: 5%;
    background-color: black;
}
.bill {
    background-color: #FFFE9A;
    width: 60%;
    margin-right: 20%;
}
#item {
    float: left;
    font-size:  calc(20% + 1vw + 1vh);
    font-weight: bold;    
}
#total {
    float: initial;
    font-size:  calc(20% + 1vw + 1vh);
    font-weight: bold;    
}
.submit {
    background-color: #FFFE9A;
    float: right;
    margin-right: -20%;
    font-size:  calc(20% + 1vw + 1vh);
    font-weight: bold;    
}