.house {
    width: 7%;
    display: block;
    margin: auto;
}
.navbar-check {
    width: 91%;
    background-color: black;
    position: fixed;
    bottom: 35px;
}
.back {
    width: 100%;
    float: left;
    display: block;
    margin-top: -7%;
}