body {
    background-color : #F49A1A;
  }
  
.box1{
    background-color : white;
    width: 91vw;
    height: 93vh;
}
.images{
    width: 90%;
    height: 0%;
}
.table{
  margin-left: 4%;
  width: 100%;
}
th {
  font-size: 30px;
  width: 13%;
}
td {
  font-size: 190%;
}
.openStatus{
  color: green;
}
.closeStatus{
  color: red;
}
.thMesa{
  width: 100%;
}
.detailfloor{
  color: blue;
}
.Close{
  color: red;
}
.open{
  color: green;
}
.ready{
  color: green;
}
.notReady{
  color: red ;
}
.trash{
  width: 5vw;
  height: 5vh;
}
.Trash{
  width: 3.5vw;
  height: 3.5vh;
}