body {
    background-color : #F49A1A;
  }
  
  .main-container{
    background-color : white;
    width: 91vw;
    height: 93vh;
  }
  .images{
    width: 90%;
    height: 0%;
  }
  .text-table {
    font-size: 30px;
    font-weight: bold;
    margin-left: 70%;
  }
  .select {
    font-size: 30px;
  }
  .counter-input .form-control {
    width: 6%;
    font-size: 40px;
    float: right;
    font-weight: bold;
  }
  .counter-input .input-group-addon {
    float: right;
    width: 6%;
    height: 8%;
    font-size: 20px;
  }
  .menu-title {
    font-weight: bold;
    font-size: 50px;
  }