.box{
    background-color : white;
    width: 100%;
  }
  .images{
    width: 90%;
    height: 0%;
  }
  .breakfast{
    width: 45%;
    height: 45%;
    margin-top: 10%;
  }
  .meal{
    width: 45%;
    height: 45%;
    margin-top: 10%;
    
  }
  .guest{
    width: 55%;
    height: 55%;
    margin-top: -15%;
  }
  body {
    background-color : #F49A1A;
  }
  .main-container{
    background-color : white;
    width: 91vw;
    height: 93vh;
  }